&__1 {
  background-color: $blue;
  left: 103em;
  top: 17em;
}

&__2 {
  background-color: $blue;

  left: 43em;
  top: 18em;
}
&__3 {
  background-color: $green;

  left: 86em;
  top: 24em;
}
&__4 {
  background-color: $blue;

  left: 106em;
  top: 27em;
}
&__5 {
  background-color: $green;

  left: 51em;
  top: 24em;
}
&__6 {
  background-color: $blue;

  left: 81em;
  top: 32em;
}
&__7 {
  background-color: $green;

  left: 98em;
  top: 32em;
}
&__8 {
  background-color: $blue;

  left: 34em;
  top: 33em;
}
&__9 {
  background-color: $blue;

  left: 119em;
  top: 29em;
}
&__10 {
  background-color: $green;

  left: 83em;
  top: 33em;
}
