@import "./colors";

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1920px;
  height: 1080px;
  background: url("../img/img-bg.svg") center center/cover no-repeat;

  .container {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 15, 32, 0.5);

    .btn {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 100%;
      :hover {
        opacity: 0.6;
      }
      span {
        display: block;
        align-items: center;
        color: #fff;
        font-weight: 400;
        font-size: 25px;
      }

      &__1 {
        background-color: $blue;
        left: 103em;
        top: 17em;
      }

      &__2 {
        background-color: $blue;

        left: 43em;
        top: 18em;
      }
      &__3 {
        background-color: $green;

        left: 86em;
        top: 24em;
      }
      &__4 {
        background-color: $blue;

        left: 106em;
        top: 27em;
      }
      &__5 {
        background-color: $green;

        left: 51em;
        top: 24em;
      }
      &__6 {
        background-color: $blue;

        left: 81em;
        top: 32em;
      }
      &__7 {
        background-color: $green;

        left: 98em;
        top: 32em;
      }
      &__8 {
        background-color: $blue;

        left: 34em;
        top: 33em;
      }
      &__9 {
        background-color: $blue;

        left: 119em;
        top: 29em;
      }
      &__10 {
        background-color: $green;

        left: 83em;
        top: 33em;
      }
    }
  }
}
